body {
  margin: 0;
  padding:70px;
  color: #efc9a0;
  background: #000;
}

.container, .panel {
  background: #1A0F09;
}

.table>thead>tr>th {
  background-color: #4C1A08;
  color: white;
  border-bottom: 1px solid #1a0f08;
}

.table > tbody > tr  {
  background: #2b1507;
}

.table > tbody > tr > td {
  border-top: 1px solid #31190a;
}


.table-striped>tbody>tr:nth-of-type(odd) {
  background: #231207;
  border-top: 1px solid #30190b;
}

.table-striped>tbody>tr:nth-of-type(odd) > td {
  border-top: 1px solid #30190b;
}
.panel-default > .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #1A0F09;
  color: #FEF092;
}

.panel-default {
  border-color: #31190a;
  margin-bottom: 0;
}

.navbar-default {
  background-color: #1A0F09;
  background-color: rgba(26, 15, 9, .7);
  border-color: #30190b;
  color: #ffb100;
}

.navbar-default .navbar-brand {
  color: #ffb100;
}

.navbar-default .navbar-nav>.active> a {
  background-color: #2b1507;
}
