<ion-view view-title="Garrison Watch">
  <ion-content>
    <swipe-cards>
      <swipe-card ng-repeat="char in characters" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
        <div class="card">
          <div class="item item-divider">
            {{char.Character}} - {{char.Realm}}
          </div>
          <div class="item item-text-wrap" ng-show="!char.missions">
            Updating missions
          </div>

          <div class="item item-text-wrap" ng-repeat="mission in char.missions">
            <h2>{{mission.name}}</h2>
            <p>Ending {{mission.end}}</p>
          </div>
        </div>
      </swipe-card>
    </swipe-cards>
  </ion-content>
</ion-view>
