<ion-view view-title="">
  <ion-nav-buttons side="left">
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-keypress="searchTyped($event)" ng-model="term">
      </label>
      <button class="button button-clear" ng-click="search()">
        Go
      </button>
    </div>
  </ion-nav-buttons>
  <ion-content class="padding">

    <ion-list>
      <ion-item class="item-remove-animate item-checkbox" ng-repeat="character in characters" type="item-text-wrap">
        <label class="checkbox">
          <input type="checkbox" ng-click="add(character, $event)" ng-checked="character.selected">
        </label>
        <h2>{{character.Character}}</h2>
        <p>{{character.Realm}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
