<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="My Characters" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/chars">
    <ion-nav-view name="tab-chars"></ion-nav-view>
  </ion-tab>
  <!--
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/dash">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
-->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
  <!--<ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>-->
</ion-tabs>
